<body>
    <!-- Modal destinos por temporada-->
    <div class="modal fade" id="modalDestinosTemporada" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Seleccionar año</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/destinosTemporada/" method="POST" class="row g-3 p-4">{%csrf_token%}
                        <div class="col-6">
                            <select name="year" class="form-control">
                                <option value="2019" selected>2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <input class="btn btn-success" type="submit" value="Aceptar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal gráfica empacadora en general -->
    <div class="modal fade" id="modalEmpacadoraGeneral" tabindex="-1" role="dialog"
        aria-labelledby="modalEmpacadoraGeneral" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEmpacadoraGeneral">Seleccionar año</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/empacadorasGeneral/" method="POST" class="row g-3 p-4">{%csrf_token%}
                        <div class="col-6">
                            <select name="year" class="form-control">
                                <option value="2019" selected>2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                            </select>
                        </div>
                        <div>
                            <input class="btn btn-success" type="submit" value="Aceptar">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal gráfica empacadora individual -->
    <div class="modal fade" id="modalEmpacadoraIndividual" tabindex="-1" role="dialog"
        aria-labelledby="modalEmpacadoraIndividual" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEmpacadoraIndividual">Seleccionar año</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/empacadorasIndividual/" method="POST" class="row g-3 p-4">{%csrf_token%}
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label>Empacadora</label>
                                {% if user.account.tipoUsuario == "administrador" or user.account.tipoUsuario == "estadistica" %}
                                <select name="empacadora" class="form-control">
                                    {% for i in df %}
                                      <option value="{{i}}">{{i}}</option>
                                      {% endfor %}
                                  </select>
                                
                                {% else %}
                                <select name="empacadora" class="form-control">
                                      <option value="{{user.first_name}}">{{user.first_name}}</option>
                                  </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Año</label>
                                <select name="year" class="form-control">
                                    <option value="2019" selected>2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label> </label>
                                <input class="btn btn-success" type="submit" value="Aceptar">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal gráfica paises -->
    <div class="modal fade" id="modalPaises" tabindex="-1" role="dialog" aria-labelledby="modalPaises"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalPaises">Seleccionar datos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/paisesTemporada/" method="POST" class="row g-3 p-4">{%csrf_token%}
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label>País</label>
                                <select name="pais" class="form-control">
                                    {% for i in dfP %}
                                      <option value="{{i}}">{{i}}</option>
                                      {% endfor %}
                                  </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Año</label>
                                <select name="year" class="form-control">
                                    <option value="2019" selected>2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label> </label>
                                <input class="btn btn-success" type="submit" value="Aceptar">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pronónstico empacadora -->
    <div class="modal fade" id="modalPronosticoEmpacadora" tabindex="-1" role="dialog"
        aria-labelledby="modalPronosticoEmpacadora" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalPronosticoEmpacadora">Seleccionar empacadora</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/pronosticoEmpacadoraSeleccionada/" method="POST" class="row g-3 p-4">{%csrf_token%}
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Empacadora</label>
                                {% if user.account.tipoUsuario == "administrador" or user.account.tipoUsuario == "estadistica" %}
                                <select name="empacadora" class="form-control">
                                    {% for i in df %}
                                      <option value="{{i}}">{{i}}</option>
                                      {% endfor %}
                                  </select>
                                
                                {% else %}
                                <select name="empacadora" class="form-control">
                                      <option value="{{user.first_name}}">{{user.first_name}}</option>
                                  </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Tipo de gráfica</label>
                                <select name="tipoGrafica" class="form-control">
                                    <option value="Barras" selected>Barras</option>
                                    <option value="lineas">Líneas</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label>Tipo de Pronóstico</label>
                                <select name="tipoPronostico" class="form-control">
                                    <option value="ventasReales" selected>Comparación con Ventas Reales</option>
                                    <option value="añosFuturos">Años futuros</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label> </label>
                                <input class="btn btn-success btn-lg" type="submit" value="Aceptar" onclick="showAlert()">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pronostico países en general -->
    <div class="modal fade" id="modalPronosticoPaises" tabindex="-1" role="dialog"
        aria-labelledby="modalPronosticoPaises" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalPronosticoPaises">Seleccionar país</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/pronosticoGeneralPaisSeleccionado/" method="POST" class="row g-3 p-4">{%csrf_token%}
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>País</label>
                                <select name="pais" class="form-control">
                                    {% for i in dfP %}
                                      <option value="{{i}}">{{i}}</option>
                                      {% endfor %}
                                  </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Tipo de gráfica</label>
                                <select name="tipoGrafica" class="form-control">
                                    <option value="Barras" selected>Barras</option>
                                    <option value="lineas">Líneas</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label>Tipo de Pronóstico</label>
                                <select name="tipoPronostico" class="form-control">
                                    <option value="ventasReales" selected>Comparación con Ventas Reales</option>
                                    <option value="añosFuturos">Años futuros</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <input class="btn btn-success btn-lg" type="submit" value="Aceptar" onclick="showAlert()">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Pronostico destinos -->
    <div class="modal fade" id="modalPronosticoDestinos" tabindex="-1" role="dialog"
        aria-labelledby="modalPronosticoDestinos" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalPronosticoDestinos">Seleccionar Continente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/pronosticoPaisSelecionado/" method="POST" class="row g-3 p-4" style="height: 100%;">
                        {%csrf_token%}
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Seleccionar destino</label>
                                <select name="idContinente" class="form-control">
                                    <option value="1" selected>Medio Oriente</option>
                                    <option value="2">América</option>
                                    <option value="3">Europa</option>
                                    <option value="4">Asia</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Tipo de gráfica</label>
                                <select name="tipoGrafica" class="form-control">
                                    <option value="Barras" selected>Barras</option>
                                    <option value="lineas">Líneas</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label>Tipo de Pronóstico</label>
                                <select name="tipoPronostico" class="form-control">
                                    <option value="ventasReales" selected>Comparación con Ventas Reales</option>
                                    <option value="añosFuturos">Años futuros</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label> </label>
                                <input class="btn btn-success btn-lg" type="submit" value="Aceptar"
                                    onclick="showAlert()">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Subir archivo-->
    <div class="modal fade" id="modalSubirArchivo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalSubirArchivo">Seleccionar año</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/subirArchivo/" method="POST" class="row g-3 p-4" enctype="multipart/form-data">
                        {%csrf_token%}
                        <input accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" type="file" name="myfile">
                        <input type="submit">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pronostico años en general -->
    <div class="modal fade" id="modalPronosticoYears" tabindex="-1" role="dialog"
        aria-labelledby="modalPronosticoYears" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalPronosticoYears">Seleccionar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/pronosticoGeneral/" method="POST" class="row g-3 p-4">{%csrf_token%}
                        
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Tipo de gráfica</label>
                                <select name="tipoGrafica" class="form-control">
                                    <option value="Barras" selected>Barras</option>
                                    <option value="lineas">Líneas</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label>Tipo de Pronóstico</label>
                                <select name="tipoPronostico" class="form-control">
                                    <option value="ventasReales" selected>Comparación con Ventas Reales</option>
                                    <option value="añosFuturos">Años futuros</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <input class="btn btn-success btn-lg" type="submit" value="Aceptar" onclick="showAlert()">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function showAlert() {
            Swal.fire({
                icon: 'success',
                title: 'Generando reporte espere un momento',
                showConfirmButton: false,
            })
        } 
    </script>

</body>